.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;

}



.hamburger:hover ~ nav {
  opacity: 1;
}

.container {
  transform-origin: center;
}



@keyframes top {
  from { transform:rotate(0);}
  to { transform: rotate(45deg) translatey(45px) scale(1.5)}
}

@keyframes middle {
  from {opacity: 100%;;}
  to {opacity: 0%;;}
}

@keyframes bottom {
  from {rotate:0;}
  to { transform: rotate(-45deg) translatey(-45px) scale(1.5)}
}
