button {
    background-color: #eee;
    border-style: none;
    color: black;
    transition-duration: 2s;
    transition-delay: .05s;
    transition-property:background-color;
}

button a {
    text-decoration: none;
    color: black;
    transition-duration: 2s;
    transition-delay: .05s;
    
}

button:hoover {
    background-color: cornflowerblue;
    color: ghostwhite;
    }
